.done-item{
    color: gray;
    margin-left: 45%;
    text-align: left;
}
.item{
    color: black;
    margin-left: 45%;
    text-align: left;
}
.addItem{
    margin-left: 45%;
    text-align: left;
}
button{
    font-size: 0.7em;
	color: #fff;
	background: deepskyblue;
	outline: none;
	border: none;
	cursor: pointer;
	padding: 5px 10px;
    -webkit-appearance: none;
    margin-left: 10px;
}